body {
  background-color: #FFFFFF;
}

.logbutton {
  background: none;
  padding: 0px;
  border: none;
}

.mainbox {
  background-image: url('../images/colosseum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-card {
  width: 421px;
  height: 333px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
