body {
  background-color: #FFFFFF;
}

.logbutton {
  background: none;
  padding: 0px;
  border: none;
}

.mainbox {
  background-image: url('../images/colosseum.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 50px 50px 0;
  padding: 250px 30px 30px 150px;
}

.destination-card {
  width: 421px;
  height: 333px;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-custom {
  text-align: left;
}
